.courseMainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.cardDiv .prevNextBtn{
    border: none;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    color: crimson;
}
.card{
    width: 350px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 25px;
}

.cardPrice{
 font-style: italic;
 color: crimson;
}
.cardDeleteBtn{
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: blueviolet;
    color: #fff;
    cursor: pointer;
}
.randomCourseBtn{
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: blueviolet;
    color: #fff;
    cursor: pointer;
}
.headDiv{
    text-align: center;
    margin-bottom: 20px;
}

.refreshDiv{
    text-align: center;
}
.refreshBtn{
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: blueviolet;
    color: #fff;
    cursor: pointer; 
}

